target/
.classpath
.project
.settings/

*/target/
*/.classpath
*/.project
*/.settings/
*/dist/
*/bin/
*/NFeCacerts
*/Resources/

XML_DFe/src/main/java/br/com/dfe/schema/
XML_DFe/src/main/java/META-INF/
WS_DFe/src/main/java/
