target/
.classpath
.project
.settings/

*/target/
*/.classpath
*/.project
*/.settings/
*/dist/
*/bin/
*/NFeCacerts
*/Resources/
*/.idea
*/.gradle/
*/build/
*/out/
*/cacerts

XML_DFe/src/main/java/br/com/dfe/schema/
WS_DFe/src/main/java/
